@charset "UTF-8";
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  overflow-x: hidden;
}
html body {
  font-family: "Poppins", sans-serif;
  background-color: white;
  display: flex;
  justify-content: center;
  overflow-x: hidden;
}
html body .wrapper {
  display: flex;
  flex-direction: column;
  padding: 2%;
  max-width: 1240px;
  height: 100vh;
  width: 100%;
}
html body .wrapper header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #426646;
  box-shadow: 0px 4px 2px -2px rgba(66, 102, 70, 0.6);
}
@media only screen and (max-width: 768px) {
  html body .wrapper header {
    flex-direction: column;
  }
}
html body .wrapper header h1 {
  margin: 0;
  font-size: 50px;
  letter-spacing: 10px;
  font-weight: 800;
}
@media only screen and (max-width: 768px) {
  html body .wrapper header h1 {
    font-size: 25px;
    letter-spacing: 5px;
  }
}
html body .wrapper header a {
  padding: 6px;
  margin: 6px;
  background-color: #6ca672;
  color: #426646;
  text-decoration: none;
}
html body .wrapper header a:hover {
  background-color: #426646;
  color: white;
}
html body .wrapper .wrapper__data {
  margin-left: 10%;
  height: 70%;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}
@media only screen and (max-width: 768px) {
  html body .wrapper .wrapper__data {
    margin-left: 0;
  }
}
html body .wrapper .wrapper__data div {
  display: flex;
  flex-direction: row;
  letter-spacing: 5px;
  width: 100%;
  color: #6ca672;
}
html body .wrapper .wrapper__data div i {
  font-size: 20px;
}
html body .wrapper .wrapper__data div p {
  font-size: 30px;
  font-weight: 400;
}
@media only screen and (max-width: 768px) {
  html body .wrapper .wrapper__data div p {
    font-size: 20px;
    letter-spacing: 5px;
  }
}
html body .wrapper .search__section {
  padding: 30px;
}
html body .wrapper .search__section input {
  border-radius: 4px;
  padding: 5px;
  border: none;
  font-size: 14px;
  margin-left: 20px;
  box-shadow: 1px 1px 6px -2px rgba(0, 0, 0, 0.6);
  outline: none;
}
@media only screen and (max-width: 768px) {
  html body .wrapper .search__section input {
    margin: 5px;
  }
}
html body .wrapper .container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
html body .wrapper .container .mobile {
  display: none;
}
@media only screen and (max-width: 768px) {
  html body .wrapper .container .mobile {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin: 20px;
    box-shadow: 1px 1px 6px -2px rgba(0, 0, 0, 0.6);
    padding: 10px;
    box-shadow: 1px 1px 6px -2px rgba(108, 166, 114, 0.6);
  }
  html body .wrapper .container .mobile div {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  html body .wrapper .container .mobile p {
    font-size: 16px;
    padding: 5px;
  }
}
html body .wrapper .container .desktop {
  display: "";
}
@media only screen and (max-width: 768px) {
  html body .wrapper .container .desktop {
    display: none;
  }
}
html body .wrapper .container table {
  width: 100%;
}
@media only screen and (max-width: 768px) {
  html body .wrapper .container table {
    font-size: 12px;
  }
}
html body .wrapper .container table .arrow-down:after {
  content: "▾";
}
html body .wrapper .container table .arrow-down.active:after {
  content: "▴";
}
html body .wrapper .container table tbody {
  background-color: white;
  color: #426646;
}
html body .wrapper .container table tbody tr:first-child {
  background-color: #6ca672;
  color: black;
}
@media only screen and (max-width: 768px) {
  html body .wrapper .container table tbody tr:first-child {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
}
html body .wrapper .container table tbody tr:first-child th {
  flex: 0 0 33.333333%;
  cursor: pointer;
}
html body .wrapper .container table tbody tr {
  box-shadow: 0px 3px 2px -2px rgba(108, 166, 114, 0.6);
}
html body .wrapper .container table tbody td:last-child {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
}
html body .wrapper .container table tr {
  box-shadow: 0px 3px 2px -2px rgba(108, 166, 114, 0.6);
}
html body .wrapper .container table tr td {
  text-align: center;
  color: #426646;
}

/*# sourceMappingURL=style.css.map */
