* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background-color: white;
  display: flex;
  justify-content: center;
}

.wrapper {
  display: flex;
  flex-direction: column;
  padding: 2%;
  max-width: 1240px;
}
.wrapper header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #426646;
  box-shadow: 0px 4px 2px -2px rgba(66, 102, 70, 0.6);
}
.wrapper header h1 {
  margin: 0;
  font-size: 50px;
  letter-spacing: 10px;
  font-weight: 800;
}
@media only screen and (max-width: 768px) {
  .wrapper header h1 {
    font-size: 30px;
    letter-spacing: 5px;
  }
}
.wrapper header a {
  padding: 6px;
  background-color: #6ca672;
  color: #426646;
  text-decoration: none;
}
.wrapper header a:hover {
  background-color: #426646;
  color: white;
}
.wrapper .search__section {
  padding: 30px;
}
.wrapper .search__section input {
  border-radius: 4px;
  padding: 5px;
  border: none;
  font-size: 14px;
  margin-left: 20px;
  box-shadow: 1px 1px 6px -2px rgba(0, 0, 0, 0.6);
  outline: none;
}
@media only screen and (max-width: 768px) {
  .wrapper .search__section input {
    margin: 5px;
  }
}
.wrapper .container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.wrapper .container .mobile {
  display: none;
}
@media only screen and (max-width: 768px) {
  .wrapper .container .mobile {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin: 20px;
    box-shadow: 1px 1px 6px -2px rgba(0, 0, 0, 0.6);
    padding: 10px;
    box-shadow: 1px 1px 6px -2px rgba(108, 166, 114, 0.6);
  }
  .wrapper .container .mobile div {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .wrapper .container .mobile p {
    font-size: 16px;
    padding: 5px;
  }
}
.wrapper .container .desktop {
  display: "";
}
@media only screen and (max-width: 768px) {
  .wrapper .container .desktop {
    display: none;
  }
}
.wrapper .container table {
  width: 100%;
}
@media only screen and (max-width: 768px) {
  .wrapper .container table {
    font-size: 12px;
  }
}
.wrapper .container table thead {
  background-color: #6ca672;
  color: black;
}
@media only screen and (max-width: 768px) {
  .wrapper .container table thead {
    display: flex;
    justify-content: space-around;
  }
}
.wrapper .container table thead tr th {
  cursor: pointer;
}
.wrapper .container table tbody {
  background-color: white;
  color: #426646;
}
.wrapper .container table tbody tr {
  box-shadow: 0px 3px 2px -2px rgba(108, 166, 114, 0.6);
}
.wrapper .container table tbody tr td {
  text-align: center;
}
.wrapper .container table tbody td:last-child {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
}
.wrapper .container table tr {
  box-shadow: 0px 3px 2px -2px rgba(108, 166, 114, 0.6);
}
.wrapper .container table tr td {
  text-align: center;
}

/*# sourceMappingURL=style.css.map */
