* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background-color: rgb(90, 108, 133);
}
.wrapper {
  display: flex;
  flex-direction: column;
  padding: 2%;
  max-width: 1980px;
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;

    h1 {
      margin: 0;
      font-size: 50px;
      letter-spacing: 10px;
      @media only screen and (max-width: 768px) {
        font-size: 28px;
        letter-spacing: 5px;
      }
    }
    a {
      padding: 6px;
      background-color: white;
      text-decoration: none;
      color: rgb(90, 108, 133);
      a:hover {
        color: white;
        background-color: white;
      }
    }
  }
  .search__section {
    padding-bottom: 10px;
    input {
      border-radius: 4px;
      padding: 10px;
      border: none;
      font-size: 14px;
      margin-left: 20px;
      box-shadow: 1px 1px 6px -2px rgba(0, 0, 0, 0.6);
      outline: none;
      @media only screen and (max-width: 768px) {
        margin: 5px;
      }
    }
  }

  .container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .mobile {
      display: none;
      @media only screen and (max-width: 768px) {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        width: 100%;
        margin: 20px;
        box-shadow: 1px 1px 6px -2px rgba(0, 0, 0, 0.6);
        padding: 10px;
        background-color: rgb(242, 243, 250);
      }
      div {
        display: flex;
        justify-content: center;
        align-items: center;
      }
      p {
        font-size: 16px;
        padding: 5px;
      }
    }
    .desktop {
      display: "";
      @media only screen and (max-width: 768px) {
        display: none;
      }
    }
    table {
      width: 100%;
      @media only screen and (max-width: 768px) {
        font-size: 12px;
      }
      thead {
        background-color: rgb(90, 108, 133);
        color: white;
        @media only screen and (max-width: 768px) {
          display: flex;
          justify-content: space-around;
        }
      }
      tbody {
        background-color: rgb(242, 243, 250);
        td {
          text-align: center;
        }
        td:last-child {
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 5px;
        }
      }
    }
  }
}
